<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/loginStyle.css" type="text/css">
</head>

<body>
    <!-- thẻ chứa background -->
    <div id="background"></div>

    <!-- thẻ chứa form quên mật khẩu -->
    <div class="container" id="forgotPasswordContainer">
        <form method="post" action="">
            <h2>Forgot your password?</h2>
            <p id="forgotPasswordMessage">Xin hãy nhập tài khoản Email của bạn để khôi phục mật khẩu</p>
            <!-- Email Login -->
            <label for="Email"><img src="resources/image/emailLogin.png" alt="Email"></label>
            <input type="email" name="Email" id="Email" placeholder="Email" required>

            <!-- Submit -->
            <button name="submit" class="submitButton" id="forgotPasswordButton" onclick="afterForgotPassword()" type="submit">Khôi phục
                mật khẩu</button>
            <!-- Kết quả -->
            <p id="passwordResult"></p>
            <!-- Sign in -->
            <p class="otherChoice">Chưa có tài khoản? <a class="signIn" href="./signIn">Đăng kí</a></p>
            <p class="otherChoice"><a class="logIn" href="./login">Quay lại trang đăng nhập</a></p>
        </form>
    </div>
    <script lang="javascript" type="text/javascript" src="resources/js/login.js"></script>

</body>
</html>