<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/loginStyle.css" type="text/css">
</head>

<body>
    <!-- thẻ chứa background -->
    <div id="background"></div>

    <!-- Sau khi khôi phục mật khẩu -->
    <div class="container" id="messageContainer">
        <h2>Chúng tôi đã gửi link khôi phục đến địa chỉ Email của bạn</h2><br>
        <p class="otherChoice"><a class="logIn" href="./login.html">Quay lại trang đăng nhập</a></p>
    </div>

<script lang="javascript" type="text/javascript" src="../js/login.js"></script>
</body>
</html>