#adBackGround {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.AdvertiseContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 800px;
    height: 608px;
    border-radius: 12px;
    padding: 16px 16px 16px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .personalInfo {
        display: flex;
        height: 40px;
        margin-bottom: 8px;

        .PostAva {
            margin: 0px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;

            img {
                margin: 0px;
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }
        }

        .nameMoneyContainer {
            width: 400px;
            height: 40px;
            margin-left: 8px;

            .userName {
                width: fit-content;
                height: fit-content;
                font-size: 16px;
                font-weight: 500;
                text-align: left;
                margin: 0;
            }

            .moneyLeft {
                display: flex;
                width: fit-content;
                height: fit-content;
                font-size: 14px;
                text-align: left;
                color: rgb(136, 136, 136);
                font-weight: 500;
                margin: 4px 0 0 0;

                .addMoney {
                    background-color: transparent;
                    border: none !important;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: row;
                    justify-content: center;
                    transform: translate(8px, -4px);

                    img {
                        width: 20px;
                        height: 20px;
                    }

                }
            }
        }
    }

    .closeButton {
        font-weight: 900;
        cursor: pointer;
        color: rgb(0, 0, 0);
        opacity: 0.5;
        height: 20px;
    }

    .closeButton:hover {
        opacity: 1;
    }

    .allAdvertiseBox {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        overflow: auto;
        width: 776px;
        height: 528px;

        .createNewAdContainer {
            width: 224px;
            height: 240px;
            background-color: rgba(169, 169, 169, 0.1);
            border-radius: 12px;
            display: flex;
            flex-wrap: nowrap !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;

            p {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                color: #686868;
            }

            img {
                width: 120px;
                height: 120px;
            }
        }


        .advertisePost {
            opacity: 0.8;
            margin: 4px;
            padding: 8px 8px 4px 8px;
            border-radius: 12px;
            background-color: #F0F2F5;
            width: 240px;
            height: 256px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .deleteAd{
                position: absolute;
                font-size: 16px;
                font-weight: 700;
                transform: translate(208px,4px);
                opacity: 0.2;
            }
            .deleteAd:hover{
                opacity: 2;
            }
            .advertiseImg {
                width: 224px;
                height: 224px;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                img{
                    max-width: 100%;
                    height: auto;
                    border-radius: 12px;
                }
            }

            .adViewsAndTimeLeft {
                margin-top: 4px;
                display: flex;
                flex-wrap: nowrap;
                font-size: 12px;
                font-weight: 600;
                text-indent: 4px;
                color: #686868;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .advertisePost:hover {
            opacity: 1;
        }
    }
}


#deleteAdReminderBackground {
    display: none;
    position: fixed;
    z-index: 102;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    .deleteAdReminderContainer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #ffffff;
        width: 640px;
        height: 112px;
        border-radius: 12px;
        padding: 16px 16px 16px 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h{
            font-size: 18px;
            font-weight: 600;
            width: 608px;
            height: 34px;
            text-align: center;
            border-bottom: rgba(169, 169, 169, 0.6) 1px solid;
            margin-bottom: 16px;
        }
        p{
            font-size: 16px;
            font-weight: 500;
            width: 360px;
            height: 34px;
            text-align: center;
        }
        button{
            width: 56px;
            height: 28px;
            border-radius: 4px;
            margin-left: 24px;
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            opacity: 0.6;
        }
        button:hover{
            opacity: 1;
        }
        .deny{
            background-color: rgb(255, 56, 56);
        }
        .submit{
            background-color: rgb(56, 106, 255);
        }
    }
}


/*--------------------------------------*/
/*---------Form tạo ra Ad mới-----------*/
/*--------------------------------------*/

#NewAdvertiseBackGround {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.adLinkToContainer {
    /* transform: translateX(-24px); */
    width: 480px;
    height: 48px;
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    transform: translate(0px, -40px);

    .adLinkToBox{
      position: relative;
    }
  
    .adLinkToBoxInput {
        padding: 8px;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        box-sizing: border-box;
        border: none;
        font-size: 16px;
        text-indent: 8px;
        outline: none;
        transition: .5s;
        background-color: #e1e2e3;
    }
    .adLinkToBox img{
        position: absolute;
        height: 28px;
        width: 28px;
        transform: translate(-34px, 6px);
        transition: .2s;
    }
}
  

.newAdvertiseForm {
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    z-index: 101;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    width: 520px;
    height: fit-content;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    h2 {
        text-align: center;
        font-size: 20px;
        padding-bottom: 16px;
    }

    #closeNewPostForm {
        color: rgb(0, 0, 0);
        float: right;
        font-size: 28px;
        font-weight: bold;
        border: none;
        background-color: #ffffff;
        opacity: 0.8;
        transform: translatey(-8px);
    }

    #closeNewPostForm:hover,
    #closeNewPostForm:focus {
        text-decoration: none;
        cursor: pointer;
        opacity: 1;
    }

    form {
        padding-top: 0px !important;
    }

    .advertiseHead {
        display: flex;
        justify-content: space-between;
        width: 484px;
        height: fit-content;
        border-bottom: #e1e2e3 solid 1px;
        border-top: #e1e2e3 solid 1px;
        padding-bottom: 4px;

        .nameAndAva {
            display: flex;
            align-items: center;

            .userName {
                height: 48px;
                display: flex;
                align-items: center;
                width: fit-content;
                font-size: 16px;
                font-weight: 600;
                margin-left: 8px;
            }

            .PostAva {
                height: 48px;
                width: 48px;

                img {
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                }
            }
        }

        .containerDetailsOptions {
            margin-top: 4px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-left: 8px;
            width: 220px;
            height: fit-content;

            label {
                font-size: 14px;
                font-weight: 700;
                line-height: 14px;
            }

            select {
                margin: 4px;
                border-radius: 4px;
                padding: 2.4px;
                font-size: 12px;
                font-weight: 600;
                background-color: #e1e2e3;
                border: none;
                height: 20px;

                option {
                    font-weight: 600;
                    border-radius: 0px;
                }
            }

            select:focus {
                outline: none;
            }
        }
    }

        textarea[id="newAdCaption"] {
            margin-top: 16px;
            width: 484px;
            height: 80px !important;
            text-align: start;
            font-size: 20px;
            resize: none;
            border: none;
        }

        textarea[id="newAdCaption"]:focus {
            outline: none;
        }

        .containerForFile {
            margin-top: 16px;
            padding: 8px;
            width: 484px;
            height: fit-content;
            border: #F0F2F5 1.6px solid;
            border-radius: 24px;
            display: flex;
            justify-content: end;

            input[id=newAdFileInput] {
                display: none;
            }

            button[id="selectFileForNewAd"] {
                display: block;
                width: 468px;
                height: 128px;
                border-radius: 24px;
                cursor: pointer;
                border: none;
                background-color: #f2f4f8;

                img {
                    height: 64px;
                }

                p {
                    text-align: center;
                    font-size: 20px;
                }
            }

            button[id="selectFileForNewAd"]:hover {
                background-color: #e1e2e3;
            }

            button[id="deleteFileForNewAd"] {
                display: none;
                width: 40px;
                height: 40px;
                position: absolute;
                z-index: 103;
                font-size: 32px;
                border-radius: 20px;
                transform: translateY(-4px);
                color: #ffffff;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }

            button[id="deleteFileForNewAd"]:hover {
                color: rgba(169, 169, 169, 1);
            }

            #previewNewAdFile {
                border-radius: 24px;
            }
        }

        .btnContainer {
            margin-top: 16px;
            width: 484px;
            height: 32px;

            .FinnalCost{
                position: absolute;
                display: flex;
                width: 160px;
                transform: translate(178px, 8px);
                font-size: 16px;
                font-weight: 600;
                color: darkgreen;
            }
            #uploadNewAdvertise {
                float: right;
                border: none;
                border-radius: 12px;
                height: 32px;
                width: 160px;
                background-color: rgb(56, 106, 255);
                color: #ffffff;
                cursor: pointer;
                opacity: 0.6;
            }

            #uploadNewAdvertise:hover {
                opacity: 1;
            }

            #resetNewAd {
                float: left;
                border: none;
                border-radius: 12px;
                height: 32px;
                width: 56px;
                background-color: rgb(255, 56, 56);
                color: #ffffff;
                cursor: pointer;
                opacity: 0.6;
            }

            #resetNewAd:hover {
                opacity: 1;
            }
        }
}

.advPostContainer{
    justify-content: flex-start !important;
}