.Profile {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Profile__header__cover {
    display: block;
    position: relative;
    text-align: start;
    z-index: 0;
}

#cover {
    width: 100%;
    display: block;
}


#icon1 {
    position: absolute;
    z-index: 9;
    right: 50px;
    top: 580px;
    opacity: 0.5;
}

#avatar {
    position: absolute;
    z-index: 8;
    left: 50px;
    top: 500px;

}

#icon2 {
    position: absolute;
    z-index: 9;
    left: 230px;
    top: 690px;
    opacity: 0.5;
}

.name {
    position: absolute;
    left: 325px;
    top: 630px;
    font-size: 30px;
}

.outside {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    border-bottom: 0.75px solid #E4E6EB;
}



#Profile_Header_Button {
    position: relative;
    top: 30px;
    right: 50px;
}

#Profile_Header_themtin {
    position: absolute;
    right: 250px;
}

#Profile_Header_chinhsua {
    position: absolute;
    right: 0px;
}

.Profile__header__menu {
    margin-top: 150px;
    border-top: solid 0.75px #E4E6EB;
    width: 90%;
}

ul,
li {
    display: inline-block;
    justify-content: space-around;
    padding-right: 15px;
}

#Decription {
    position: absolute;
    left: 180px;
    top: 855px;
    font-size: 15px;
    border-radius: 24px;
    border: 1px solid #E4E6EB;
    width: 30%;
    text-align: center;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#gioithieu {
    padding-left: 15px;
    font-size: 25px;
    text-align: left;
}

#nickname {

    font-size: 20px;
}



#Profile2 {
    display: flexbox;
    width: 90%;

}



#Profile_Post {
    width: 60%;
    left: 650px;
    position: absolute;

}




#Decription_gioithieu {
    text-align: left;
    margin-left: 50px;
    font-size: 29px;
    margin-top: 10px;
}

#PostList1 {
    display: block;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 24px;
    border: 1px solid #E4E6EB;
}

#PostList1_Header {
    width: 100wh;
    height: 50px;

}

#PostList1_Avatar {
    position: absolute;
    display: flex;
    top: 8px;
    margin-left: 30px;
}

.PostList_Avatar {
    width: 25px;
    height: 25px;
}



.PostList_Content_Text {
    margin-left: 30px;
}

.PostList_Content_Image {
    width: 100%;
    height: 100%;
}

.PostList_Button {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    border-top: solid 0.75px #E4E6EB;
    border-bottom: solid 0.75px #E4E6EB;
}

.PostList_Button_Detail {
    border: none;
}

.PostList_Comment {
    margin-left: 15px;
    min-height: 35px;
    margin-top: 5px;
}

.PostList_Comment_Input {
    border-radius: 24px;
    border: 0.75px solid #E4E6EB;
    width: 90%;
    margin-left: 20px;
}

#PostList {
    margin-top: 20px;
    position: relative;
}

#Profile2_DecriptionPage {
    position: absolute;
    display: none;
    left: 180px;
    border-radius: 24px;
    border: 1px solid #E4E6EB;
    min-height: 420px;
    width: 75%;
    top: 855px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    #Profile2_DecriptionPage_Inside {
        left: 10px;
        top: 10px;
    }

    #Profile2_DecriptionPage_btn {
        width: 30%;
        border-right: 0.75px solid #E4E6EB;
        #Profile2_DecriptionPage_menu{
            li{
                padding-bottom: 15px;
            }
        }
    }

    #Profile2_DecriptionPage_tongquan {
        position: relative;
        width: 70%;

    }

    #Profile2_DecriptionPage_tongquan_1 {
        left: 20px;
        top: 20px;
        align-items: center;
        display: block;
        position: absolute;

        .Profile2_DecriptionPage_tongquan_detail_icon {
            padding: 20px;
            font-size: large;
            width: 600px;
            position: relative;

            .Profile2_DecriptionPage_tongquan_detail_icon_btn {
                position: absolute;
                right: 20px;
                display: inline-flex;
                padding: 0;
                border: none;
                background: none;
            }
        }

    }
}