.Profile {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 800px;


    .outside {
        width: 80%;
        margin: 0 auto !important;
        justify-content: center;
        position: relative;
        border-bottom: 0.75px solid #E4E6EB;

        .Profile__header__cover {
            display: block;
            position: relative;
            text-align: start;
            z-index: 0;

            #icon1 {
                position: absolute;
                z-index: 9;
                right: 15px;
                top: 94%;
                opacity: 0.5;
            }

            #cover {
                width: 100%;
                display: block;
                border-radius: 15px;
            }

        }

        #Profile__header__avatar {


            #icon2 {
                position: absolute;
                z-index: 9;
                left: 230px;
                top: 87%;
                opacity: 0.5;
            }

            #ChangeCover {

                #modalBackGround1 {
                    display: none;
                    position: fixed;
                    z-index: 99;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    background-color: rgb(0, 0, 0);
                    background-color: rgba(0, 0, 0, 0.4);
                }

                .ChangeCoverForm {
                    margin-top: 80px !important;
                    margin-bottom: 80px !important;
                    position: relative;
                    z-index: 101;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: #ffffff;
                    width: 520px;
                    height: fit-content;
                    border-radius: 24px;
                    padding: 16px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    -webkit-animation-name: animatetop;
                    -webkit-animation-duration: 0.4s;
                    animation-name: animatetop;
                    animation-duration: 0.4s;

                    form {
                        padding-top: 16px;
                    }

                    h2 {
                        text-align: center;
                        font-size: 20px;
                        padding-bottom: 16px;
                        border-bottom: #e1e2e3 solid 0.8px;
                    }

                    #closeNewPostForm {
                        color: rgb(0, 0, 0);
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                        border: none;
                        background-color: #ffffff;
                        opacity: 0.8;
                        transform: translatey(-8px);
                    }

                    #closeNewPostForm:hover,
                    #closeNewPostForm:focus {
                        text-decoration: none;
                        cursor: pointer;
                        opacity: 1;
                    }

                    .PostAva {
                        margin-top: 4.8px !important;
                    }

                    .postHead {
                        display: flex;
                        width: 484px;
                        height: fit-content;

                        .containerNamePrivacy {
                            display: block;
                            margin-left: 8px !important;

                            select[id="newPostPrivacy"] {
                                margin-top: 4px;
                                border-radius: 4px;
                                padding: 2.4px;
                                font-size: 12px;
                                font-weight: 600;
                                background-color: #e1e2e3;
                                border: none;

                                option {
                                    font-weight: 600;
                                    border-radius: 0px;
                                }
                            }

                            select[id="newPostPrivacy"]:focus {
                                outline: none;
                            }
                        }
                    }

                    .userName {
                        width: fit-content;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    textarea[id="newPostCaption"] {
                        margin-top: 16px;
                        width: 484px;
                        height: 128px;
                        text-align: start;
                        font-size: 24px;
                        resize: none;
                        border: none;
                    }

                    textarea[id="newPostCaption"]:focus {
                        outline: none;
                    }

                    .containerForFile {
                        margin-top: 16px;
                        padding: 8px;
                        width: 484px;
                        height: fit-content;
                        border: #F0F2F5 1.6px solid;
                        border-radius: 24px;
                        display: flex;
                        justify-content: end;

                        input[id=newPostFileInput] {
                            display: none;
                        }

                        button[id="selectFileForNewCover"] {
                            display: block;
                            width: 468px;
                            height: 128px;
                            border-radius: 24px;
                            cursor: pointer;
                            border: none;
                            background-color: #f2f4f8;

                            img {
                                height: 64px;
                            }

                            p {
                                text-align: center;
                                font-size: 20px;
                            }
                        }

                        button[id="selectFileForNewCover"]:hover {
                            background-color: #e1e2e3;
                        }

                        button[id="deleteFileForNewCover"] {
                            display: none;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            z-index: 103;
                            font-size: 32px;
                            border-radius: 20px;
                            transform: translateY(-4px);
                            color: #ffffff;
                            border: none;
                            background-color: transparent;
                            cursor: pointer;
                        }

                        button[id="deleteFileForNewCover"]:hover {
                            color: rgba(169, 169, 169, 1);
                        }

                        #previewNewPostFile {
                            border-radius: 24px;
                        }
                    }

                    .btnContainer {
                        margin-top: 16px;
                        width: 484px;
                        height: 32px;

                        #uploadNewCover {
                            float: right;
                            border: none;
                            border-radius: 12px;
                            height: 32px;
                            width: 56px;
                            background-color: rgb(56, 106, 255);
                            color: #ffffff;
                            cursor: pointer;
                            opacity: 0.6;
                        }

                        #uploadNewCover:hover {
                            opacity: 1;
                        }

                        #resetNewPost {
                            float: left;
                            border: none;
                            border-radius: 12px;
                            height: 32px;
                            width: 56px;
                            background-color: rgb(255, 56, 56);
                            color: #ffffff;
                            cursor: pointer;
                            opacity: 0.6;
                        }

                        #resetNewPost:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            #ChangeAvatar {

                #modalBackGround {
                    display: none;
                    position: fixed;
                    z-index: 99;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    background-color: rgb(0, 0, 0);
                    background-color: rgba(0, 0, 0, 0.4);
                }

                .ChangeAvatarForm {
                    margin-top: 80px;
                    margin-bottom: 80px;
                    position: relative;
                    z-index: 101;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: #ffffff;
                    width: 520px;
                    height: fit-content;
                    border-radius: 24px;
                    padding: 16px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    -webkit-animation-name: animatetop;
                    -webkit-animation-duration: 0.4s;
                    animation-name: animatetop;
                    animation-duration: 0.4s;

                    form {
                        padding-top: 16px;
                    }

                    h2 {
                        text-align: center;
                        font-size: 20px;
                        padding-bottom: 16px;
                        border-bottom: #e1e2e3 solid 0.8px;
                    }

                    #closeNewPostForm {
                        color: rgb(0, 0, 0);
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                        border: none;
                        background-color: #ffffff;
                        opacity: 0.8;
                        transform: translatey(-8px);
                    }

                    #closeNewPostForm:hover,
                    #closeNewPostForm:focus {
                        text-decoration: none;
                        cursor: pointer;
                        opacity: 1;
                    }

                    .PostAva {
                        margin-top: 4.8px;
                    }

                    .postHead {
                        display: flex;
                        width: 484px;
                        height: fit-content;

                        .containerNamePrivacy {
                            display: block;
                            margin-left: 8px;

                            select[id="newPostPrivacy"] {
                                margin-top: 4px;
                                border-radius: 4px;
                                padding: 2.4px;
                                font-size: 12px;
                                font-weight: 600;
                                background-color: #e1e2e3;
                                border: none;

                                option {
                                    font-weight: 600;
                                    border-radius: 0px;
                                }
                            }

                            select[id="newPostPrivacy"]:focus {
                                outline: none;
                            }
                        }
                    }

                    .userName {
                        width: fit-content;
                        font-size: 16px;
                        font-weight: 600;
                    }

                    textarea[id="newPostCaption"] {
                        margin-top: 16px;
                        width: 484px;
                        height: 128px;
                        text-align: start;
                        font-size: 24px;
                        resize: none;
                        border: none;
                    }

                    textarea[id="newPostCaption"]:focus {
                        outline: none;
                    }

                    .containerForFile {
                        margin-top: 16px;
                        padding: 8px;
                        width: 484px;
                        height: fit-content;
                        border: #F0F2F5 1.6px solid;
                        border-radius: 24px;
                        display: flex;
                        justify-content: end;

                        input[id=newPostFileInput] {
                            display: none;
                        }

                        button[id="selectFileForNewAvatar"] {
                            display: block;
                            width: 468px;
                            height: 128px;
                            border-radius: 24px;
                            cursor: pointer;
                            border: none;
                            background-color: #f2f4f8;

                            img {
                                height: 64px;
                            }

                            p {
                                text-align: center;
                                font-size: 20px;
                            }
                        }

                        button[id="selectFileForNewAvatar"]:hover {
                            background-color: #e1e2e3;
                        }

                        button[id="deleteFileForNewAvatar"] {
                            display: none;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            z-index: 103;
                            font-size: 32px;
                            border-radius: 20px;
                            transform: translateY(-4px);
                            color: #ffffff;
                            border: none;
                            background-color: transparent;
                            cursor: pointer;
                        }

                        button[id="deleteFileForNewAvatar"]:hover {
                            color: rgba(169, 169, 169, 1);
                        }

                        #previewNewPostFile {
                            border-radius: 24px;
                        }
                    }

                    .btnContainer {
                        margin-top: 16px;
                        width: 484px;
                        height: 32px;

                        #uploadNewAvatar {
                            float: right;
                            border: none;
                            border-radius: 12px;
                            height: 32px;
                            width: 56px;
                            background-color: rgb(56, 106, 255);
                            color: #ffffff;
                            cursor: pointer;
                            opacity: 0.6;
                        }

                        #uploadNewAvatar:hover {
                            opacity: 1;
                        }

                        #resetNewPost {
                            float: left;
                            border: none;
                            border-radius: 12px;
                            height: 32px;
                            width: 56px;
                            background-color: rgb(255, 56, 56);
                            color: #ffffff;
                            cursor: pointer;
                            opacity: 0.6;
                        }

                        #resetNewPost:hover {
                            opacity: 1;
                        }
                    }
                }
            }

            .name {
                position: absolute;
                left: 325px;
                top: 84%;
                font-size: 30px;
            }

            #avatar {
                position: absolute;
                z-index: 8;
                left: 50px;
                top: 69%;
                border-radius: 50%;
            }

            #Profile_Header_Button {
                position: relative;
                top: 30px;
                right: 50px;

                #Profile_Header_themtin {
                    position: absolute;
                    right: 220px;
                    text-decoration: none;
                    color: #fff;
                    background-color: #0866FF;
                    height: 36px;
                    width: 132px;
                    font-size: 15px;
                    text-align: center;
                    padding-top: 9px;
                    border-radius: 5px;
                }

                #Profile_Header_chinhsua {
                    position: absolute;
                    right: 33px;
                    text-decoration: none;
                    color: #65676B;
                    background-color: #E4E6EB;
                    height: 36px;
                    width: 170px;
                    font-size: 15px;
                    text-align: center;
                    padding-top: 9px;
                    border-radius: 5px;
                }
            }
        }
    }

    .Profile__header__menu {
        margin-top: 150px;
        border-top: solid 0.75px #E4E6EB;
        width: 90%;

        ul,
        li {
            display: inline-block;
            justify-content: space-around;
            padding: 0 15px !important;
            margin: 4px 0px !important;


            button {
                border: none;
                border-radius: 5px;
                height: 25px;
                width: 100px;
                color: #65676B;
                background-color: #fff;
                font-size: 15px;
            }

            .button:hover {
                background-color: rgba(169, 169, 169, 0.16);

                color: #65676B;
            }
        }
    }
}


#gioithieu {
    padding-left: 15px;
    font-size: 25px;
    text-align: left;
}

#nickname {

    font-size: 20px;
}

#Profile__About__Edit {

    height: 650px;
    display: none;

    /* dang cai dat display: none; */

    .EditArea {
        display: block;
        height: fit-content;
        width: 100%;

        #Privacy {
            top: 30px;
            display: inline-block;
            align-items: center;
            /* justify-content: space-between; */
            width: 100%;
            padding: 15px;
            border-top: 0.5px solid #E4E6EB;
            position: relative;

            #privacybtn {
                top: 5px;
                position: relative;
                left: 20px;
            }

            #save {
                position: absolute;
                right: 10px;
                background-color: #E4E6EB;
                color: #1c1e21;
                border-radius: 5px;
                width: 82px;
                height: 35px;
                border: none;
            }

            #cancel {
                position: absolute;
                right: 102px;
                background-color: #E4E6EB;
                color: #1c1e21;
                border-radius: 5px;
                width: 82px;
                height: 35px;
                border: none;
            }
        }

        .EditGroup {
            display: block;
            align-items: center;
            width: 539px;
            padding: 10px;
            margin: 15px;
            width: 80%;

            .textArea {
                width: 100%;
                height: 36px;
                border: 0.5px solid #E4E6EB;
                border-radius: 5px;
                background-color: #fff;
                padding-left: 10px;
                font-size: 10px;

                ::placeholder {
                    border: 0.1px solid #1c1e21;
                }


            }


            

            #edit__btn {
                display: block;
                height: fit-content;



                .btn {
                    height: 35px;
                    width: 70px;
                    color: #1c1e21;
                    background-color: #fff;
                    border-radius: 5px;
                    font-size: 15px;
                    display: flex;
                }


            }
        }
    }

}


#ProfilePost {
    display: flex;
    width: 90%;


    #Intro {
        height: fit-content;
        font-size: 15px;
        border-radius: 24px;
        border: 1px solid #E4E6EB;
        width: 25%;
        padding-left: 20px;
        padding-bottom: 10px;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .Intro__Detail {
            font-size: 15px;
            margin: 10px 10px !important;
        }

        .Intro__Edit {
            display: block;

            #Intro__EditArea {
                display: none;
            }


            #Intro__Edit__textArea {
                width: 345px;
                height: 56px;
                border-radius: 5px;
                margin-bottom: 10px;
                color: #1c1e21;
                background-color: #E4E6EB;
                text-align: center;
                align-items: center;
            }

            #save {
                text-decoration: none;
                color: #1c1e21;
                background-color: #E4E6EB;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                outline: none;
            }

            #cancel {
                text-decoration: none;
                color: #1c1e21;
                background-color: #E4E6EB;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
        }

        #Intro_gioithieu {
            left: 15px;
            margin-left: 25px;
            font-size: 1.25rem;
            margin-top: 10px;

        }

        #editBtn {
            text-decoration: none;
            color: #1c1e21;
            background-color: #E4E6EB;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 28px;
            border-radius: 5px;
            display: flex;
            margin-top: 10px;
        }

        #editDetailBtn {
            text-decoration: none;
            color: #1c1e21;
            background-color: #E4E6EB;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 28px;
            border-radius: 5px;
            display: flex;
            margin-top: 10px;
        }

    }

    #Profile_Post {
        margin-left: 30px;
        height: fit-content;
        width: fit-content;
        height: fit-content;
    }
}

.Profile__About {
    display: none;
}



#ProfileAbout {
    display: none;
    border-radius: 24px;
    border: 1px solid #E4E6EB;
    min-height: 420px;
    width: 75%;
    height: fit-content;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;



    #Profile__About__Btn {
        width: 30%;
        border-right: 0.75px solid #E4E6EB;

        #Profile2_AboutPage_menu {
            li {
                padding-bottom: 15px;
                list-style-type: none;
                padding: 10px;
                margin: 10px;

                .Intro__button {
                    border: none;
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                    color: #65676B;
                    background-color: #fff;
                    font-size: 15px;
                    text-align: left;
                }
            }
        }

        .Profile2_AboutPage_Inside {
            left: 10px;
            top: 10px;
            margin-left: 20px;

            #About {
                left: 15px;
                margin-left: 25px;
                font-size: 1.25rem;
                margin-top: 10px;

            }
        }


    }

    #Profile__About__Content {

        width: 90%;
        display: block;


        .Profile__About {
            display: none;

        }


        #Overview {
            left: 20px;
            top: 20px;
            align-items: center;
            display: block;

            #workingEdit {
                display: none;
            }


            .Overview__Content {
                padding: 20px;
                margin: 20px;
                position: relative;
                display: block;

                .Overview__Content__btn {
                    position: absolute;
                    right: 20px;
                    display: inline-flex;
                    padding: 0;
                    border: none;
                    background: none;
                }
            }

        }

        .Container {
            width: 70%;
            padding: 10px;
            margin: 10px;
            display: block;



            .Title {
                font-size: 1.25rem;
                position: relative;

                #Overview__Content__HighSchool {
                    position: absolute;
                    right: 20px;
                    display: inline-flex;
                    padding: 0;
                    border: none;
                    background: none;
                }

            }

            .Add {
                display: flex;

                .icon {
                    width: 20px;
                }

                .text {
                    font-size: 15px;
                    color: #0866FF;
                }
            }

            .Detail {
                margin-top: 15px;

                .EditButton {
                    position: absolute;
                    right: 20px;
                    display: inline-flex;
                    padding: 0;
                    border: none;
                    background: none;
                }

                .img {
                    display: inline-flex;

                    .contentContainer {
                        display: inline;

                        a {
                            font-size: 1rem;

                            p {
                                font-size: 1.25rem;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }

        #WorkAndEducation {
            display: none;
            left: 20px;
            top: 20px;


        }
    }


}

#PlacesLive {
    display: none;


}

.Profile2 {
    margin-top: 50px;
    margin-left: 12%;
}


#ProfilePhotos {
    display: none;
    left: 180px;
    border-radius: 24px;
    border: 1px solid #E4E6EB;
    min-height: 420px;
    width: 75%;
    top: 797px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#FriendsContainer {
    display: none;
}
select[id="RelationshipSelect"] {
    width: 78%;
    /* Chiều rộng tối đa */
    padding: 15px;
    margin: 27px;
    /* Khoảng cách bên trong để tạo ra cảm giác thoải mái khi nhìn và sử dụng */
    border: 1px solid #E4E6EB;
    /* Đường viền mảnh và nhẹ */
    border-radius: 4px;
    /* Bo góc để tạo ra cảm giác hiện đại và mềm mại */
    background-color: white;
    /* Màu nền trắng để dễ dàng phối hợp với các thiết kế khác */
    color: #333;
    /* Màu chữ tối giản nhưng dễ đọc */
    -webkit-appearance: none;
    /* Loại bỏ kiểu mặc định của Safari */
    -moz-appearance: none;
    /* Loại bỏ kiểu mặc định của Firefox */
    appearance: none;
    /* Loại bỏ kiểu mặc định trên các trình duyệt hiện đại */
    background-image: url('dropdown-icon.png');
    /* Thêm biểu tượng dropdown */
    background-repeat: no-repeat;
    /* Không lặp lại hình ảnh */
    background-position: right 10px center;
    /* Vị trí của biểu tượng dropdown */
    cursor: pointer;
    /* Thay đổi con trỏ khi di chuyển qua */
}